<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Cancel Registration</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
</head>

<body>
    <div id="divmain">
        <h1>Cancel Registration</h1><br>
        <h2><%- num %> registration(s) have been cancelled. Live Long and Prosper.</h2>
        <br>
        <div id="div1">
        <div id="div2">
        <div id="div3">
            <a href="/">HOME</a>
        </div>
        </div>
        </div>
    </div>
</body>

</html>