<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convention Cancelled</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
</head>

<body>
    <div id="divmain">
    <h1 id="headCategory"><span>Convention Cancelled</span></h1>

    <h2>Warning. The convention has been cancelled. <%- removed %> registrations have been cancelled. The self-destruct sequence has been engaged.
        The ship will explode in 5 minutes. All hands abandon ship!! All hands abandon sh-(Transmission ended)</h2>

    <div id="div1">
    <div id="div2">
    <div id="div3">
        <a href="/">HOME</a>
    </div>
    </div>
    </div>
    </div>
</body>