<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Cancel Registration</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
</head>

<body>
    <div id="divmain">
        <h1>Registration data of all attendees:</h1><br>
        
        <%- Table %><br>

        <div id="data">
            <img id="myImage" src="/sensory/DATA.png"  height="300" alt="dataImg">
        </div>
        <br>
        
        <div id="div1">
        <div id="div2">
        <div id="div3">
            <a href="/">HOME</a>
        </div>
        </div>
        </div>
    </div>
</body>

</html>